<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="commonHeading">
		<script type="text/x-jsrender" id="popupTempalte">
			<div id="{{:popupId}}" class="popup">
				<div class="container">
					<div class="row">
						<div class="twelve columns">{{:content}}</div>
					</div>
					<div class="row">&nbsp;</div>
					<div class="row"><div class="twelve columns">
						<input type="button" class="{{:popupId}}_close u-full-width" value="{{:closeButtonLabel}}" />
					</div>
				</div>
			</div>
		</script>
		<div class="row">
			&nbsp;
			<input type="hidden" id="csrfToken" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		</div>
		<div class="row siteHeadingRow">
			<div class="six columns">
				<h2 class="u-full-width" th:onclick="'window.location.href=\'' + ${global_baseUrl} + '/\''">[[ #{sitename} ]]</h2>
				<a href="https://github.com/mvmn/mvmncarpool" target="_blank">github</a>
			</div>
			<div class="four columns" th:if="!${currentUser}">&nbsp;</div>
			<div class="two columns localesList">
				<div th:each="localevar:${locales}">
					<a th:if="${localevar} != ${#locale.getLanguage()}" href="#" th:text="#{${'locale.' + localevar}}" th:onclick="'setLocale(\'' + ${localevar} + '\',\'' + ${_csrf.token} + '\')'"></a>
				</div>
			</div>
			<div class="four columns" th:if="${currentUser}">
				<input type="button" class="u-full-width button-primary" th:value="#{label.logout}" th:onclick="${'javascript:window.location.href='''} + ${global_baseUrl} + ${'/logout'''}" />
				<div><a th:href="${global_baseUrl} + ${'/profile'}" th:text="${currentUser.emailAddress}" class="u-full-width usernameLabel"></a></div>
			</div>
		</div>
		<div class="row">
			<div class="row">&nbsp;</div>
		</div>
	</div>
</body>