<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="sharedHeadContent">
	<script type="text/javascript">
		var exclamationSign = '<i class="fa fa-exclamation-circle" aria-hidden="true"></i>';

		window.carpoolApp = {};
		window.carpoolApp.siteBaseUrl = '[[ ${global_baseUrl} ]]';
		window.carpoolApp.csrfHeaderName = '[[ ${_csrf.headerName} ]]';
		window.carpoolApp.csrfParameterName = '[[ ${_csrf.parameterName} ]]';
		window.carpoolApp.csrfToken = '[[ ${_csrf.token} ]]';
		window.carpoolApp.emailRegex = new RegExp('[( ${ emailRegexJs } )]');
		window.carpoolApp.passwordRegex = new RegExp('[( ${ passwordRegexJs } )]');
		window.carpoolApp.passwordLengthMin = [[ ${ passwordLengthMin } ]];
		window.carpoolApp.passwordLengthMax = [[ ${ passwordLengthMax } ]];
	</script>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
	<link rel="stylesheet" th:href="${global_baseUrl} + '/static/css/font-awesome.min.css'">
	<link rel="stylesheet" th:href="${global_baseUrl} + '/static/css/normalize.css'">
	<link rel="stylesheet" th:href="${global_baseUrl} + '/static/css/skeleton.css'">
	<link rel="stylesheet" th:href="${global_baseUrl} + '/static/css/main.css'">

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$.get(window.carpoolApp.siteBaseUrl+"/api/l10n", {}, function(l10n) {
				window.carpoolApp.l10n = l10n;

				$('input').keyup();
			});
		});
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
	<script th:src="${global_baseUrl} + '/static/js/pubsub.js'"></script>
	<script th:src="${global_baseUrl} + '/static/js/jsrender.min.js'"></script>
	<script th:src="${global_baseUrl} + '/static/js/main.js'"></script>		
	<title th:text="#{sitename}"></title>
	<!-- Include jQuery Popup Overlay -->
	<script src="https://cdn.rawgit.com/vast-engineering/jquery-popup-overlay/1.7.13/jquery.popupoverlay.js"></script>
</head>
</html>
