.siteHeadingRow {
	background: #d0ffb9;
	border-radius: 16px;
	padding: 16px;
}

button[disabled]:hover, button[disabled], input[type="button"][disabled], input[type="button"][disabled]:hover, input[type="button"].button-primary[disabled], input[type="button"].button-primary[disabled]:hover {
    background: #ccc;
    border-color: #ccc;
    text-shadow: none;
}

.alertCloseBtnContainer {
	float: right;	
}

.popup {
	min-width: 200px;
	background-color: rgba(235, 235, 235, 0.9); 
	border: solid 16px rgba(235, 235, 235, 0.9); 
	border-radius: 8px;
}

.waitIndicator {
	display: none;
}

.localesList {
	text-align: right;
}

.smallerLabel {
	text-align: right;
	overflow: hidden;
	font-size: 10pt;
}

label {
	display: inline-block;
}

.validationMessage {
	font-size: 10px;
	color: red;
}

table input, table button {
	margin-bottom: 0;
	
}

table td {
	padding: 12px 8px;
}

table button {
	padding: 0 14px;
}