<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<object th:include="fragments/head :: sharedHeadContent" th:remove="tag"></object>
	<script th:src="${global_baseUrl} + '/static/js/maps.js'"></script>		
	<script>
		PubSub.subscribe("global.carpoolApp.ready", function() {
			// init google maps map, add click handler to pubsub event publishing
			var height = screen.height * 0.7;
			if(!height || height<400) {
				height = 400;
			}
			if(height > 1000) {
				height = 800;
			}
			$("#mapContainer").css("height", height);
			window.carpoolApp.mainMap = new google.maps.Map(document.getElementById('mapContainer'), { center: { lat: 49.8327787, lng: 23.9421959 }, zoom: 16 });
			centerMapOnCurrentLocation();
			
			window.carpoolApp.geocoder = new google.maps.Geocoder;
			window.carpoolApp.placesService = new google.maps.places.PlacesService(window.carpoolApp.mainMap);
			window.carpoolApp.directionsService = new google.maps.DirectionsService();
			window.carpoolApp.directionsDisplay = new google.maps.DirectionsRenderer({map:window.carpoolApp.mainMap, draggable: true});
			window.carpoolApp.directionsDisplay.addListener('directions_changed', function() {
				PubSub.publish("global.mainRoute.changed");
			});
			
			window.carpoolApp.mainMap.addListener("click", function(event) {
				PubSub.publish("global.mainMap.clicked", event);
			});
			
			populateMyLiftRequests();
		});

		window.carpoolApp.loadedModules = [];
		PubSub.subscribe("global.module.load", function(moduleName) {
			window.carpoolApp.loadedModules.push(moduleName);
			if(window.carpoolApp.loadedModules.length == 2) {
				PubSub.publish("global.carpoolApp.ready");
			}
		});
		
		function onGoogleMapsLoad() {
			PubSub.publish("global.module.load.googleMaps");
		}
		
		PubSub.subscribe("global.mainMap.clicked", function(msg, event) {
			if(window.carpoolApp.userSpecifiedMarker) {
				window.carpoolApp.userSpecifiedMarker.setMap(null);
			}
			window.carpoolApp.userSpecifiedMarker = new google.maps.Marker({ 
					position: event.latLng, 
					map: window.carpoolApp.mainMap, 
					draggable: false,
					animation: google.maps.Animation.BOUNCE,
					clickable: false,
					icon: {
						path: google.maps.SymbolPath.BACKWARD_CLOSED_ARROW,
						scale: 6,
						fillColor: "green",
						strokeColor: "black",
						fillOpacity: 0.5,
						strokeWeight: 1
					}
				});
			if(event.placeId) {
				window.carpoolApp.userSpecifiedMarker.setPlace({ placeId: event.placeId, location: event.latLng });
			}
			
			updateLifrRequestCoordinatesForm(msg, event);
			
			if(window.carpoolApp.mapUiMode === 'offerLift') {
				//
			}
		});
		
		function updateLifrRequestCoordinatesForm(msg, event) {
			$("#requestLiftForm_lat").val(event.latLng.lat());
			$("#requestLiftForm_lng").val(event.latLng.lng());
			$("#requestLiftForm_placeId").val(event.placeId);
			$("#requestLiftButton").removeAttr("disabled");
			
			if(event.placeId) {
				window.carpoolApp.placesService.getDetails({placeId: event.placeId}, function(details, status) {
					if(status === 'OK' && details) { 
						$("#requestLiftForm_address").val(details.name + ", " + details.formatted_address);
					}
				});
			} else {
				window.carpoolApp.geocoder.geocode({location:event.latLng}, function(results, status) {
					if(status === 'OK' && results && results.length > 0) {
						$("#requestLiftForm_address").val(results[0].formatted_address);
					}
				});
			}
		}
		
		function doRequestLift() {
			var now = new Date();
			var startH = now.getHours();
			var startM = now.getMinutes();
			var endH = (startH + 1 ) % 24;
			var endM = startM;
			var hourOptions = [];
			for(var i=0;i<24;i++) { hourOptions.push({value: i, text: (i<10? '0' + i : '' + i), startSelected: i == startH, endSelected: i == endH }); }
			var minuteOptions = [];
			for(var i=0;i<60;i++) { minuteOptions.push({value: i, text: (i<10? '0' + i : '' + i), startSelected: i == startM, endSelected: i == endM }); }
			var data = {
				hourOptions: hourOptions,
				minuteOptions: minuteOptions,
				lat: $("#requestLiftForm_lat").val(),
				lng: $("#requestLiftForm_lng").val(),
				address: $("#requestLiftForm_address").val()
			}
	
			showConfirmation($.templates("#liftRequestFormTemplate").render(data), 'label.cancel', 'label.create', function(event) {
				var selectedStartH = parseInt($("#liftRequestStartTimeH").val());
				var selectedStartM = parseInt($("#liftRequestStartTimeM").val());
				var selectedEndH = parseInt($("#liftRequestEndTimeH").val());
				var selectedEndM = parseInt($("#liftRequestEndTimeM").val());

				if(selectedStartH > selectedEndH || selectedStartH == selectedEndH && selectedStartM > selectedEndM) {
					showPopup(window.carpoolApp.l10n['error.start_time_after_end_time']);
					event.stopPropagation();
				} else {						
					var startDate = new Date();
					startDate.setHours(selectedStartH);
					startDate.setMinutes(selectedStartM);
					var endDate = new Date();
					endDate.setHours(selectedEndH);
					endDate.setMinutes(selectedEndM);
					var data = {
							lat : $("#requestLiftForm_lat").val(),
							lon : $("#requestLiftForm_lng").val(),
							placeId : $("#requestLiftForm_placeId").val(),
							address : $("#requestLiftForm_address").val(),
							timeValidFrom : date2unixts(startDate),
							timeValidTo :  date2unixts(endDate),
							notes : $("#liftRequestNotes").val()
						};
					
					makeApiCall("/api/liftrequest", 'POST', data, function(result) {
						var liftRequestIds = Object.keys(window.carpoolApp.liftRequests);
						var maxIndex = 0;
						for(var idx in liftRequestIds) {
							var liftRequest = window.carpoolApp.liftRequests[liftRequestIds[idx]];
							if(liftRequest.indexInList > maxIndex) {
								maxIndex = liftRequest.indexInList;
							}
						}
						
						// actually we need maxIndex++, but indexInList is 1-based, and here we need 0-based, so +1-1 cancels out
						addLiftRequestToList(maxIndex, result.data);  
						showPopup(window.carpoolApp.l10n['label.liftrequest.createsuccess']);
						$("#liftRequestListItem_showCheckbox"+result.data.id).click();
					});
				}
			}, true);
		}
		
		function fmtDateShortest(date) {
			var result = '';
			var now = new Date();
			if(date.getYear() != now.getYear()) {
				result += (date.getYear()+1900) + ' ' + window.carpoolApp.l10n['month.short.'+date.getMonth()] + '/' + date.getDate() + ' ';
			} else if(date.getMonth() != now.getMonth() || date.getDate() != now.getDate()) {
				result += window.carpoolApp.l10n['month.short.'+date.getMonth()] + '/' + date.getDate() + ' ';
			}
			result += date.getHours() + ':' + date.getMinutes();
			return result;
		}
		
		function populateMyLiftRequests() {
			if(window.carpoolApp.liftRequestMarkers) {
				for(var kidx in Object.keys(window.carpoolApp.liftRequestMarkers)) {
					showHideLiftRequestOnMap(false, Object.keys(window.carpoolApp.liftRequestMarkers)[kidx]);
				}
			}
			window.carpoolApp.liftRequestMarkers = {};
			$("#myLiftRequestsContainer").html('<div class="u-full-width" style="text-align: center"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></div>');
			makeApiCall("/api/liftrequest?ownOnly=true&activeOnly=true", 'GET', null, function(liftRequests) {
				$("#myLiftRequestsContainer").html('');
				window.carpoolApp.liftRequests = {};
				for(var idx in liftRequests) {
					addLiftRequestToList(idx, liftRequests[idx]);
				}
				$(".liftRequestListItemShowCheckbox").click();
				
				makeApiCall("/api/liftjoinrequest/received?actualOnly=true&driverInitiated=true", "GET", null, function(liftJoinRequests) {
					console.log("liftJoinRequests = " + liftJoinRequests);
					// TODO: show join requests from drivers beside corresponding lift requests
				});
			}, function(xhr, status, error) { $("#myLiftRequestsContainer").html(xhr.responseJSON? (exclamationSign + " " + xhr.responseJSON.message) : (exclamationSign + " " + xhr.statusText + " " + xhr.status)); });
		}
		
		function addLiftRequestToList(index, data) {
			window.carpoolApp.liftRequests[data.id] = data;
			data.indexInList = parseInt(index) + 1;
			data.color = uniqueColor(parseInt(index), 100, 40);
			data.validFrom = fmtDateShortest(unixts2date(data.timeValidFrom));
			data.validTo = fmtDateShortest(unixts2date(data.timeValidTo));
			$("#myLiftRequestsContainer").append($.templates("#liftRequestListRowTemplate").render(data));
		}
		
		function deleteLiftRequest(liftRequestId) {
			formSubmitBtnSetState("btnDeleteLiftRequest_" + liftRequestId, true, true);
			makeApiCall("/api/liftrequest/" + liftRequestId, 'DELETE', null, function(vehicleDto) {
				$("#liftRequestsList_" + liftRequestId).remove();
				showHideLiftRequestOnMap(false, liftRequestId);
			}, null, function() {
				formSubmitBtnSetState("btnDeleteLiftRequest_" + liftRequestId, false, false);
			});
		}
		
		function showHideLiftRequestOnMap(show, liftRequestId, lat, lng, color, placeId) {
			if(show) {
				var data = { 
						position: new google.maps.LatLng(lat, lng), 
						map: window.carpoolApp.mainMap, 
						draggable: false,
						clickable: true,
						label: {
							text: "" + window.carpoolApp.liftRequests[liftRequestId].indexInList,
							color: "white",
							fontWeight: "bold"
						},
						icon: {
							path: google.maps.SymbolPath.BACKWARD_OPEN_ARROW,
							scale: 5,
							fillColor: color,
							strokeColor: color,
							fillOpacity: 0.5,
							strokeWeight: 1,
							labelOrigin: {x:0, y:-3}
						}
					};
				if(placeId) {
					data.place = { placeId: placeId, location: new google.maps.LatLng(lat, lng) };
				}
				window.carpoolApp.liftRequestMarkers[liftRequestId] = new google.maps.Marker(data);
				window.carpoolApp.mainMap.setCenter(new google.maps.LatLng(lat, lng));
			} else {
				if(window.carpoolApp.liftRequestMarkers[liftRequestId]) {
					window.carpoolApp.liftRequestMarkers[liftRequestId].setMap(null);
				}
			}
		}
		
		function setUiMode(mode) {
			window.carpoolApp.uiMode = mode;
			$(".ui-mode-button").removeAttr("disabled");
			$(".ui-mode-button").removeClass("button-primary");
			$("#uiModeButton_"+mode).attr("disabled", "disabled");
			$("#uiModeButton_"+mode).addClass("button-primary");
			$(".ui-container").hide();
			$("#uiContainer_" + mode).show();
			
			window.carpoolApp.mapUiMode = mode;
			PubSub.publish("ui.mode_change", mode);
		}
		
		PubSub.subscribe("ui.mode_change", function(topic, uiMode) {
			// Hide/show lift request markers on UI mode change
			if(window.carpoolApp.liftRequestMarkers) {
				for(var idx in window.carpoolApp.liftRequestMarkers) {
					window.carpoolApp.liftRequestMarkers[idx].setMap(uiMode === 'requestLift' ? window.carpoolApp.mainMap : null);
				}
			}
		});
		
		PubSub.subscribe("ui.mode_change", function(topic, uiMode) {
			// Hide/show lift request markers on UI mode change
			window.carpoolApp.directionsDisplay.setMap(uiMode === 'offerLift' ? window.carpoolApp.mainMap : null);
			if(window.carpoolApp.routeStartMarker) {
				window.carpoolApp.routeStartMarker.setMap(uiMode === 'offerLift' ? window.carpoolApp.mainMap : null);
			}
			if(window.carpoolApp.routeEndMarker) {
				window.carpoolApp.routeEndMarker.setMap(uiMode === 'offerLift' ? window.carpoolApp.mainMap : null);
			}
		});
		
		function liftOfferUpdateForm(toOrFrom, lat, lng, place) {
			$("#offerLift" + toOrFrom + "_lat").val(lat);
			$("#offerLift" + toOrFrom + "_lng").val(lng);
			if(place) {
				$("#offerLift" + toOrFrom + "_placeId").val(place.placeId);
			} else {
				$("#offerLift" + toOrFrom + "_placeId").val('');	
			}

			if(place) {
				window.carpoolApp.placesService.getDetails({placeId: place.placeId}, function(details, status) {
					if(status === 'OK' && details) { 
						$("#offerLift" + toOrFrom + "_address").val(details.name + ", " + details.formatted_address);
					}
				});
			} else {
				window.carpoolApp.geocoder.geocode({location:{lat:lat, lng:lng}}, function(results, status) {
					if(status === 'OK' && results && results.length > 0) {
						$("#offerLift" + toOrFrom + "_address").val(results[0].formatted_address);
					}
				});
			}
		}
		
		function liftOfferSetRoutePoint(startPoint) {
			if(window.carpoolApp.userSpecifiedMarker) {				
				var toOrFrom = startPoint ? "From" : "To";
				liftOfferUpdateForm(toOrFrom, window.carpoolApp.userSpecifiedMarker.getPosition().lat(), window.carpoolApp.userSpecifiedMarker.getPosition().lng(), window.carpoolApp.userSpecifiedMarker.getPlace());
								
				var routeMarkerKey = startPoint? 'routeStartMarker' : 'routeEndMarker'; 
				if(window.carpoolApp[routeMarkerKey]) {
					window.carpoolApp[routeMarkerKey].setMap(null);
				}
					
				window.carpoolApp[routeMarkerKey] = new google.maps.Marker({ 
					position: window.carpoolApp.userSpecifiedMarker.getPosition(), 
					map: window.carpoolApp.mainMap, 
					draggable: false,
					clickable: false,
					icon: {
						path: google.maps.SymbolPath.CIRCLE,
						scale: 6,
						fillColor: startPoint? "green" : "red",
						strokeColor: "black",
						fillOpacity: 0.5,
						strokeWeight: 1
					}
				});
				
				if(window.carpoolApp[startPoint? 'routeEndMarker' : 'routeStartMarker']) {
					$("#btnCreateLiftOffer").removeAttr("disabled");
					var waypoints = [];
					if(window.carpoolApp.directionsDisplay && window.carpoolApp.directionsDisplay.getDirections()) {
						waypoints = window.carpoolApp.directionsDisplay.getDirections().request.waypoints;
					}
					window.carpoolApp.directionsService.route({
						origin: window.carpoolApp.routeStartMarker.getPosition(), 
						destination: window.carpoolApp.routeEndMarker.getPosition(), 
						travelMode: 'DRIVING', 
						optimizeWaypoints: true,
						waypoints: waypoints
					}, function(directionsResult, status) {
						window.carpoolApp.directionsDisplay.setDirections(directionsResult);
					});
				}
			}
		}
		
		PubSub.subscribe("global.mainRoute.changed", function() {
			var directions = window.carpoolApp.directionsDisplay.getDirections();

			var startPosition;
			if(directions.request.origin.location) {
				startPosition = {lat: directions.request.origin.location.lat(), lng: directions.request.origin.location.lng()};
			} else {
				startPosition = {lat: directions.request.origin.lat(), lng: directions.request.origin.lng()};
			}
			window.carpoolApp.routeStartMarker.setPosition(startPosition);
			var endPosition;
			if(directions.request.destination.location) {
				endPosition = {lat: directions.request.destination.location.lat(), lng: directions.request.destination.location.lng()};
			} else {
				endPosition = {lat: directions.request.destination.lat(), lng: directions.request.destination.lng()};
			}			
			window.carpoolApp.routeEndMarker.setPosition(endPosition);
			
			liftOfferUpdateForm("From", startPosition.lat, startPosition.lng, null);
			liftOfferUpdateForm("To", endPosition.lat, endPosition.lng, null);
			
			var waypoints = window.carpoolApp.directionsDisplay.getDirections().request.waypoints;
			
			// TODO: show user-specified waypoints on form
		});
	</script>
	<script th:src="'https://maps.googleapis.com/maps/api/js?libraries=places&callback=onGoogleMapsLoad&language=' + ${#locale.getLanguage()}"></script>
</head>
<body id="page_main">
	<div class="container">
		<div th:replace="fragments/common_heading :: commonHeading"></div>
		<div class="row">
			<div class="eight columns">
				<button class="u-full-width" onclick="centerMapOnCurrentLocation()" th:text="#{label.center_on_my_location}"></button>
				<div id="mapContainer"></div>
			</div>
			<div class="four columns">
				<div class="u-full-width">
					<input type="button" style="width: 46%" th:value="#{ btn.mode.request }" id="uiModeButton_requestLift" class="ui-mode-button button-primary" onclick="setUiMode('requestLift')" disabled="disabled" />
					<input type="button" style="width: 46%" th:value="#{ btn.mode.offer }" id="uiModeButton_offerLift" class="ui-mode-button u-pull-right" onclick="setUiMode('offerLift')" />
				</div>
				<div id="uiContainer_requestLift" class="ui-container">
					<h5>
						[[ #{label.chosen_location} ]]
						<i class="fa fa-caret-down" aria-hidden="true" id="requestLiftForm_hider" onclick="toggleCollapse('requestLiftForm')"></i>
						<i class="fa fa-caret-left" aria-hidden="true" style="display: none" id="requestLiftForm_revealer" onclick="toggleCollapse('requestLiftForm')"></i>				
					</h5>
					<script type="text/x-jsrender" id="liftRequestFormTemplate">
						<div class="row"><h5>[[ #{label.lift_request} ]]</h5></div>
						<div class="row"><div class="twelve columns"><b>[[ #{label.coordinates} ]]</b>: {{:lat}}&nbsp;:&nbsp;{{:lng}}</div></div>
						<div class="row"><div class="twelve columns"><b>[[ #{label.address} ]]</b>: {{:address}}</div></div>
						<div class="row"><div class="twelve columns"><b>[[ #{label.request_time} ]]</b></div></div>
						<div class="row"><div class="six columns">[[ #{label.from_hm} ]]</div><div class="six columns">[[ #{label.to_hm} ]]</div></div>
						<div class="row">
						<div class="three columns"><select class="u-full-width" id="liftRequestStartTimeH" onkeyup="fixNumericInput(this, 2)">
						{{for hourOptions}}
							<option value="{{:value}}" {{if startSelected}}selected="selected"{{/if}}>{{:text}}</option>
						{{/for}}
						</select></div>
						<div class="three columns"><select class="u-full-width" id="liftRequestStartTimeM" onkeyup="fixNumericInput(this, 2)">
						{{for minuteOptions}}
							<option value="{{:value}}" {{if startSelected}}selected="selected"{{/if}}>{{:text}}</option>
						{{/for}}
						</select></div>
						<div class="three columns"><select class="u-full-width" id="liftRequestEndTimeH" onkeyup="fixNumericInput(this, 2)">
						{{for hourOptions}}
							<option value="{{:value}}" {{if endSelected}}selected="selected"{{/if}}>{{:text}}</option>
						{{/for}}
						</select></div>
						<div class="three columns"><select class="u-full-width" id="liftRequestEndTimeM" onkeyup="fixNumericInput(this, 2)">
						{{for minuteOptions}}
							<option value="{{:value}}" {{if endSelected}}selected="selected"{{/if}}>{{:text}}</option>
						{{/for}}
						</select></div>
						</div>
						<div class="row"><div class="twelve columns"><b>[[ #{label.notes} ]]</b></div></div>
						<div class="row"><div class="twelve columns"><input class="u-full-width" type="text" id="liftRequestNotes" /></div></div>
					</script>
					<div id="requestLiftForm" style="display: block" class="u-full-width">
						<label class="u-full-width" th:text="#{label.coordinates}"></label>
						<input readonly="readonly" id="requestLiftForm_placeId" style="display: none" type="text" />
						<input readonly="readonly" id="requestLiftForm_lat" style="width: 46%" type="text" />
						<input readonly="readonly" id="requestLiftForm_lng" style="width: 46%" type="text" class="u-pull-right" />
						<label class="u-full-width" th:text="#{label.address}"></label>
						<input readonly="readonly" id="requestLiftForm_address" class="u-full-width" type="text" />
						<button class="u-full-width" onclick="doRequestLift()" id="requestLiftButton" disabled="disabled" th:text="#{label.request_lift}"></button>
					</div>
					<hr/>
					<h5>
						[[ #{label.my_lift_requests} ]]
						<i class="fa fa-caret-down" aria-hidden="true" id="myLiftRequestsContainer_hider" onclick="toggleCollapse('myLiftRequestsContainer')"></i>
						<i class="fa fa-caret-left" aria-hidden="true" style="display: none" id="myLiftRequestsContainer_revealer" onclick="toggleCollapse('myLiftRequestsContainer')"></i>				
					</h5>
					<script type="text/x-jsrender" id="liftRequestListRowTemplate">
						<div class="u-full-width" id="liftRequestsList_{{:id}}">
							<div class="u-full-width">
								<div style="display: inline-block; font-weight: bold; padding: 4px; color: white; background-color: {{:color}}">#{{:indexInList}}</div>
								<input type="checkbox" class="liftRequestListItemShowCheckbox" id="liftRequestListItem_showCheckbox{{:id}}" onclick="showHideLiftRequestOnMap(this.checked, {{:id}}, {{:lat}}, {{:lon}}, '{{:color}}', '{{:placeId}}')" />&nbsp;[[ #{label.show_on_map} ]]
								<span style="color: {{:color}}; display: inline-block"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
								<div style="display: inline-block" class="u-pull-right">
									<button id="btnDeleteLiftRequest_{{:id}}" class="narrow" onclick="deleteLiftRequest({{:id}})">X <i class="waitIndicator fa fa-circle-o-notch fa-spin fa-fw"></i></button>
								</div>
							</div>
							<div>{{:address}}</div>
							<div>{{:validFrom}}&nbsp;-&nbsp;{{:validTo}}</div>
							<div>{{:notes}}</div>
							<hr class="halfWidth" />			
						</div>					
					</script>
					<div id="myLiftRequestsContainer" class="u-full-width">
						<div class="u-full-width" style="text-align: center"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></div>
					</div>
					<hr/>
					<div>
						TODO: lift offers here
					</div>
				</div>
				<div id="uiContainer_offerLift" class="ui-container" style="display: none">
					<h5>
						[[ #{label.chose_route} ]]
						<i class="fa fa-caret-down" aria-hidden="true" id="liftOfferRouteFormContainer_hider" onclick="toggleCollapse('liftOfferRouteFormContainer')"></i>
						<i class="fa fa-caret-left" aria-hidden="true" style="display: none" id="liftOfferRouteFormContainer_revealer" onclick="toggleCollapse('liftOfferRouteFormContainer')"></i>				
					</h5>
					<div id="liftOfferRouteFormContainer">				
						<div class="u-full-width">
							<button onclick="liftOfferSetRoutePoint(true)"><i class="fa fa-map-marker" aria-hidden="true" style="color: green"></i></button>
							<label th:text="#{label.liftOffer.start}"></label>
						</div>
						<div class="u-full-width">
							<input readonly="readonly" id="offerLiftFrom_placeId" style="display: none" type="text" />
							<input readonly="readonly" id="offerLiftFrom_lat" style="width: 46%" type="text" />
							<input readonly="readonly" id="offerLiftFrom_lng" style="width: 46%" type="text" class="u-pull-right" />
							<input readonly="readonly" id="offerLiftFrom_address" class="u-full-width" type="text" />
						</div>
						<div class="u-full-width">
							<button onclick="liftOfferSetRoutePoint(false)"><i class="fa fa-map-marker" aria-hidden="true" style="color: red"></i></button>
							<label th:text="#{label.liftOffer.end}"></label>
						</div>
						<div class="u-full-width">
							<input readonly="readonly" id="offerLiftTo_placeId" style="display: none" type="text" />
							<input readonly="readonly" id="offerLiftTo_lat" style="width: 46%" type="text" />
							<input readonly="readonly" id="offerLiftTo_lng" style="width: 46%" type="text" class="u-pull-right" />
							<input readonly="readonly" id="offerLiftTo_address" class="u-full-width" type="text" />
						</div>
						<div id="liftOfferRouteInterimWaypointsContainer">
						</div>
						<button class="u-full-width" id="btnCreateLiftOffer" onclick="" disabled="disabled">[[ #{label.offer_lift} ]]</button>
					</div>
					<h5>
						[[ #{label.my_lift_offers} ]]
						<i class="fa fa-caret-down" aria-hidden="true" id="myLiftOffersContainer_hider" onclick="toggleCollapse('myLiftOffersContainer')"></i>
						<i class="fa fa-caret-left" aria-hidden="true" style="display: none" id="myLiftOffersContainer_revealer" onclick="toggleCollapse('myLiftOffersContainer')"></i>				
					</h5>
					<div id="myLiftOffersContainer">
						<div class="u-full-width">
							TODO: Implement
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
