<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<object th:include="fragments/head :: sharedHeadContent" th:remove="tag"></object>
	<script th:src="${global_baseUrl} + '/static/js/maps.js'"></script>		
	<script>
		window.carpoolApp.geocoderCache = {};
		
		function geocode(location, callback, skipOnError) {
			var cacheKey = String(location.lat).replace(".", "_") + "__" + String(location.lat).replace(".", "_");
			if(window.carpoolApp.geocoderCache[cacheKey]) {
				// console.log("Geocode cache hit");
				setTimeout(function() {
					callback(window.carpoolApp.geocoderCache[cacheKey]);
				}, 0);
			} else {
				// console.log("Geocode cache miss");
				window.carpoolApp.geocoder.geocode({location:location}, function(results, status) {
					if(status === 'OK' && results && results.length > 0) {
						callback(results[0].formatted_address);
						if(Object.keys(window.carpoolApp.geocoderCache).length > 1024) {
							// Garbage collection :-)
							window.carpoolApp.geocoderCache = {};
						}
						window.carpoolApp.geocoderCache[cacheKey] = results[0].formatted_address;
					} else {
						if(!skipOnError) {
							callback(status);
						} else {
							console.log("Geocode error: " + status);
						}
					}
				});
			}
		}
	
		PubSub.subscribe("global.carpoolApp.ready", function() {
			// init google maps map, add click handler to pubsub event publishing
			var height = screen.height * 0.7;
			if(!height || height<400) {
				height = 400;
			}
			if(height > 1000) {
				height = 800;
			}
			$("#mapContainer").css("height", height);
			window.carpoolApp.mainMap = new google.maps.Map(document.getElementById('mapContainer'), { center: { lat: 49.8327787, lng: 23.9421959 }, zoom: 16 });
			centerMapOnCurrentLocation();
			
			window.carpoolApp.geocoder = new google.maps.Geocoder;
			window.carpoolApp.placesService = new google.maps.places.PlacesService(window.carpoolApp.mainMap);
			window.carpoolApp.directionsService = new google.maps.DirectionsService();
			window.carpoolApp.directionsDisplay = new google.maps.DirectionsRenderer({map:window.carpoolApp.mainMap, draggable: true});
			window.carpoolApp.directionsDisplay.addListener('directions_changed', function() {
				PubSub.publish("global.mainRoute.changed");
			});
			
			window.carpoolApp.mainMap.addListener("click", function(event) {
				PubSub.publish("global.mainMap.clicked", event);
			});
			
			populateMyLiftRequests();
			populateMyLiftOffers();
			
			setUiMode("requestLift");
			
			window.carpoolApp.autocomplete = new google.maps.places.Autocomplete(document.getElementById("placeSearchInput"));
			window.carpoolApp.autocomplete.addListener('place_changed', function() {
				var place = window.carpoolApp.autocomplete.getPlace();
				if(place.geometry.location) {
					setUserMarker(place.geometry.location.lat(), place.geometry.location.lng(), place.place_id);
					window.carpoolApp.mainMap.setCenter(place.geometry.location);
				}
			});
		});
		
		$.get(window.carpoolApp.siteBaseUrl + "/api/vehicles", {}, function(vehicles) {
			window.carpoolApp.vehicles = vehicles;
			PubSub.publish("global.module.load.vehicles");
		});

		window.carpoolApp.loadedModules = [];
		PubSub.subscribe("global.module.load", function(moduleName) {
			window.carpoolApp.loadedModules.push(moduleName);
			
			if(window.carpoolApp.loadedModules.length == 3) {
				PubSub.publish("global.carpoolApp.ready");
			}
		});
		
		function onGoogleMapsLoad() {
			PubSub.publish("global.module.load.googleMaps");
		}
		
		PubSub.subscribe("global.mainMap.clicked", function(msg, event) {
			setUserMarker(event.latLng.lat(), event.latLng.lng(), event.placeId);
		});
		
		function setUserMarker(lat, lng, placeId) {
			if(window.carpoolApp.userSpecifiedMarker) {
				window.carpoolApp.userSpecifiedMarker.setMap(null);
			}
			window.carpoolApp.userSpecifiedMarker = new google.maps.Marker({ 
					position: {lat: lat, lng: lng}, 
					map: window.carpoolApp.mainMap, 
					draggable: false,
					animation: google.maps.Animation.BOUNCE,
					clickable: false,
					icon: {
						path: google.maps.SymbolPath.BACKWARD_CLOSED_ARROW,
						scale: 6,
						fillColor: "green",
						strokeColor: "black",
						fillOpacity: 0.5,
						strokeWeight: 1
					}
				});
			if(placeId) {
				window.carpoolApp.userSpecifiedMarker.setPlace({ placeId: placeId, location: {lat: lat, lng: lng} });
			}
			
			updateLifrRequestCoordinatesForm(lat, lng, placeId);
		}
		
		function updateLifrRequestCoordinatesForm(lat, lng, placeId) {
			$("#requestLiftForm_lat").val(lat);
			$("#requestLiftForm_lng").val(lng);
			$("#requestLiftForm_placeId").val(placeId? placeId : '');
			$("#requestLiftButton").removeAttr("disabled");
			
			if(placeId) {
				window.carpoolApp.placesService.getDetails({placeId: placeId}, function(details, status) {
					if(status === 'OK' && details) { 
						$("#requestLiftForm_address").val(details.name + ", " + details.formatted_address);
					}
				});
			} else {
				geocode({lat: lat, lng: lng}, function(address) {
					$("#requestLiftForm_address").val(address);
				});
			}
		}
		
		function doRequestLift() {
			var now = new Date();
			var startH = now.getHours();
			var startM = now.getMinutes();
			var endH = (startH + 1 ) % 24;
			var endM = startM;
			var hourOptions = [];
			for(var i=0;i<24;i++) { hourOptions.push({value: i, text: (i<10? '0' + i : '' + i), startSelected: i == startH, endSelected: i == endH }); }
			var minuteOptions = [];
			for(var i=0;i<60;i++) { minuteOptions.push({value: i, text: (i<10? '0' + i : '' + i), startSelected: i == startM, endSelected: i == endM }); }
			var data = {
				hourOptions: hourOptions,
				minuteOptions: minuteOptions,
				lat: $("#requestLiftForm_lat").val(),
				lng: $("#requestLiftForm_lng").val(),
				address: $("#requestLiftForm_address").val()
			}
	
			showConfirmation($.templates("#liftRequestFormTemplate").render(data), 'label.cancel', 'label.create', function(event) {
				var selectedStartH = parseInt($("#liftRequestStartTimeH").val());
				var selectedStartM = parseInt($("#liftRequestStartTimeM").val());
				var selectedEndH = parseInt($("#liftRequestEndTimeH").val());
				var selectedEndM = parseInt($("#liftRequestEndTimeM").val());

				if(selectedStartH > selectedEndH || selectedStartH == selectedEndH && selectedStartM > selectedEndM) {
					showPopup(window.carpoolApp.l10n['error.start_time_after_end_time']);
					event.stopPropagation();
				} else {						
					var startDate = new Date();
					startDate.setHours(selectedStartH);
					startDate.setMinutes(selectedStartM);
					var endDate = new Date();
					endDate.setHours(selectedEndH);
					endDate.setMinutes(selectedEndM);
					var data = {
							lat : $("#requestLiftForm_lat").val(),
							lon : $("#requestLiftForm_lng").val(),
							placeId : $("#requestLiftForm_placeId").val(),
							address : $("#requestLiftForm_address").val(),
							timeValidFrom : date2unixts(startDate),
							timeValidTo :  date2unixts(endDate),
							notes : $("#liftRequestNotes").val()
						};
					
					makeApiCall("/api/liftrequest", 'POST', data, function(result) {
						var liftRequestIds = Object.keys(window.carpoolApp.liftRequests);
						var maxIndex = 0;
						for(var idx in liftRequestIds) {
							var liftRequest = window.carpoolApp.liftRequests[liftRequestIds[idx]];
							if(liftRequest.indexInList > maxIndex) {
								maxIndex = liftRequest.indexInList;
							}
						}
						
						// actually we need maxIndex++, but indexInList is 1-based, and here we need 0-based, so +1-1 cancels out
						addLiftRequestToList(maxIndex, result.data);  
						showPopup(window.carpoolApp.l10n['label.liftrequest.createsuccess']);
						$("#liftRequestListItem_showCheckbox"+result.data.id).click();
					});
				}
			}, true);
		}
		
		function fmtDateShortest(date) {
			var result = '';
			var now = new Date();
			if(date.getYear() != now.getYear()) {
				result += (date.getYear()+1900) + ' ' + window.carpoolApp.l10n['month.short.'+date.getMonth()] + '/' + date.getDate() + ' ';
			} else if(date.getMonth() != now.getMonth() || date.getDate() != now.getDate()) {
				result += window.carpoolApp.l10n['month.short.'+date.getMonth()] + '/' + date.getDate() + ' ';
			}
			result += date.getHours() + ':' + (date.getMinutes()<10? "0" : "") + date.getMinutes();
			return result;
		}
		
		function populateMyLiftRequests() {
			if(window.carpoolApp.liftRequestMarkers) {
				for(var kidx in Object.keys(window.carpoolApp.liftRequestMarkers)) {
					showHideLiftRequestOnMap(false, Object.keys(window.carpoolApp.liftRequestMarkers)[kidx]);
				}
			}
			window.carpoolApp.liftRequestMarkers = {};
			$("#myLiftRequestsContainer").html('<div class="u-full-width" style="text-align: center"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></div>');
			makeApiCall("/api/liftrequest?ownOnly=true&actualOnly=true", 'GET', null, function(liftRequests) {
				$("#myLiftRequestsContainer").html('');
				window.carpoolApp.liftRequests = {};
				for(var idx in liftRequests) {
					addLiftRequestToList(idx, liftRequests[idx]);
				}
				$(".liftRequestListItemShowCheckbox").click();
				
				makeApiCall("/api/liftjoinrequest/received?actualOnly=true&driverInitiated=true", "GET", null, function(liftJoinRequests) {
					console.log("liftJoinRequests = " + liftJoinRequests);
					// TODO: show join requests from drivers beside corresponding lift requests
				});
			}, function(xhr, status, error) { $("#myLiftRequestsContainer").html(xhr.responseJSON? (exclamationSign + " " + xhr.responseJSON.message) : (exclamationSign + " " + xhr.statusText + " " + xhr.status)); });
		}
		
		function addLiftRequestToList(index, data) {
			window.carpoolApp.liftRequests[data.id] = data;
			data.indexInList = parseInt(index) + 1;
			data.color = uniqueColor(parseInt(index), 100, 40);
			data.validFrom = fmtDateShortest(unixts2date(data.timeValidFrom));
			data.validTo = fmtDateShortest(unixts2date(data.timeValidTo));
			$("#myLiftRequestsContainer").append($.templates("#liftRequestListRowTemplate").render(data));
		}
		
		function deleteLiftRequest(liftRequestId) {
			showConfirmation(window.carpoolApp.l10n['label.confirm_delete_lift_request'], 'label.no', 'label.yes', function () {				
				formSubmitBtnSetState("btnDeleteLiftRequest_" + liftRequestId, true, true);
				makeApiCall("/api/liftrequest/" + liftRequestId, 'DELETE', null, function() {
					$("#liftRequestsList_" + liftRequestId).remove();
					showHideLiftRequestOnMap(false, liftRequestId);
					
					delete window.carpoolApp.liftRequests[liftRequestId];
				}, null, function() {
					formSubmitBtnSetState("btnDeleteLiftRequest_" + liftRequestId, false, false);
				});
			});
		}
		
		function showHideLiftRequestOnMap(show, liftRequestId, lat, lng, color, placeId, suppressCentering) {
			if(show) {
				var showHideCheckbox = $("#liftRequestListItem_showCheckbox"+liftRequestId)[0];
				if(showHideCheckbox && showHideCheckbox.checked) {
					if(window.carpoolApp.liftRequestMarkers[liftRequestId]) {
						window.carpoolApp.liftRequestMarkers[liftRequestId].setMap(window.carpoolApp.mainMap);
					} else {
						var data = { 
								position: new google.maps.LatLng(lat, lng), 
								map: window.carpoolApp.mainMap, 
								draggable: false,
								clickable: true,
								label: {
									text: "" + window.carpoolApp.liftRequests[liftRequestId].indexInList,
									color: "white",
									fontWeight: "bold"
								},
								icon: {
									path: google.maps.SymbolPath.BACKWARD_OPEN_ARROW,
									scale: 5,
									fillColor: color,
									strokeColor: color,
									fillOpacity: 0.5,
									strokeWeight: 1,
									labelOrigin: {x:0, y:-3}
								}
							};
						if(placeId) {
							data.place = { placeId: placeId, location: new google.maps.LatLng(lat, lng) };
						}
						window.carpoolApp.liftRequestMarkers[liftRequestId] = new google.maps.Marker(data);
					}
					if(!suppressCentering) {
						window.carpoolApp.mainMap.setCenter(new google.maps.LatLng(lat, lng));
					}
				} else {
					if(window.carpoolApp.liftRequestMarkers[liftRequestId]) {
						window.carpoolApp.liftRequestMarkers[liftRequestId].setMap(null);
					}
				}
			} else {
				if(window.carpoolApp.liftRequestMarkers[liftRequestId]) {
					window.carpoolApp.liftRequestMarkers[liftRequestId].setMap(null);
				}
			}
		}
		
		function setUiMode(mode) {
			window.carpoolApp.uiMode = mode;
			$(".ui-mode-button").removeAttr("disabled");
			$(".ui-mode-button").removeClass("button-primary");
			$("#uiModeButton_"+mode).attr("disabled", "disabled");
			$("#uiModeButton_"+mode).addClass("button-primary");
			$(".ui-container").hide();
			$("#uiContainer_" + mode).show();
			
			window.carpoolApp.mapUiMode = mode;
			PubSub.publish("ui.mode_change", mode);
		}
		
		PubSub.subscribe("ui.mode_change", function(topic, uiMode) {
			// Hide/show lift request markers on UI mode change
			if(window.carpoolApp.liftRequests && window.carpoolApp.liftRequestMarkers) {
				var liftRequestIds = Object.keys(window.carpoolApp.liftRequests);
				for(var idx in liftRequestIds) {
					var liftRequest = window.carpoolApp.liftRequests[liftRequestIds[idx]];
					showHideLiftRequestOnMap(uiMode === 'requestLift', liftRequestIds[idx], liftRequest.lat, liftRequest.lon, liftRequest.color, liftRequest.placeId, true);
					//window.carpoolApp.liftRequestMarkers[idx].setMap(uiMode === 'requestLift' ? window.carpoolApp.mainMap : null);
				}
			}
		});
		
		PubSub.subscribe("ui.mode_change", function(topic, uiMode) {
			// Hide/show lift offer start markers on UI mode change
			window.carpoolApp.directionsDisplay.setMap(uiMode === 'offerLift' ? window.carpoolApp.mainMap : null);
			if(window.carpoolApp.routeStartMarker) {
				window.carpoolApp.routeStartMarker.setMap(uiMode === 'offerLift' ? window.carpoolApp.mainMap : null);
			}
			if(window.carpoolApp.routeEndMarker) {
				window.carpoolApp.routeEndMarker.setMap(uiMode === 'offerLift' ? window.carpoolApp.mainMap : null);
			}
			// Hide/show lift offers
			for(var liftOfferId in window.carpoolApp.liftOffers) {
				showHideLiftOfferOnMap(uiMode === 'offerLift', liftOfferId, true);
			}
		});
		
		function liftOfferUpdateForm(toOrFrom, lat, lng, place) {
			$("#offerLift" + toOrFrom + "_lat").val(lat);
			$("#offerLift" + toOrFrom + "_lng").val(lng);
			if(place) {
				$("#offerLift" + toOrFrom + "_placeId").val(place.placeId);
			} else {
				$("#offerLift" + toOrFrom + "_placeId").val('');	
			}

			if(place) {
				window.carpoolApp.placesService.getDetails({placeId: place.placeId}, function(details, status) {
					if(status === 'OK' && details) { 
						$("#offerLift" + toOrFrom + "_address").val(details.name + ", " + details.formatted_address);
					}
				});
			} else {
				geocode({lat:lat, lng:lng}, function(address) {
					$("#offerLift" + toOrFrom + "_address").val(address);
				});
			}
		}
		
		function liftOfferSetRoutePoint(startPoint) {
			if(window.carpoolApp.userSpecifiedMarker) {				
				var toOrFrom = startPoint ? "From" : "To";
				liftOfferUpdateForm(toOrFrom, window.carpoolApp.userSpecifiedMarker.getPosition().lat(), window.carpoolApp.userSpecifiedMarker.getPosition().lng(), window.carpoolApp.userSpecifiedMarker.getPlace());
								
				var routeMarkerKey = startPoint? 'routeStartMarker' : 'routeEndMarker'; 
				if(window.carpoolApp[routeMarkerKey]) {
					window.carpoolApp[routeMarkerKey].setMap(null);
				}
					
				window.carpoolApp[routeMarkerKey] = new google.maps.Marker({ 
					position: window.carpoolApp.userSpecifiedMarker.getPosition(), 
					map: window.carpoolApp.mainMap, 
					draggable: false,
					clickable: false,
					icon: {
						path: google.maps.SymbolPath.CIRCLE,
						scale: 6,
						fillColor: startPoint? "green" : "red",
						strokeColor: "black",
						fillOpacity: 0.5,
						strokeWeight: 1
					}
				});
				
				replotMainRoute();
			}
		}
		
		function replotMainRoute() {
			if(window.carpoolApp.routeEndMarker && window.carpoolApp.routeStartMarker) {
				$("#btnCreateLiftOffer").removeAttr("disabled");
				var waypoints = [];
				if(window.carpoolApp.directionsDisplay && window.carpoolApp.directionsDisplay.getDirections()) {
					var currentWaypoints = window.carpoolApp.directionsDisplay.getDirections().request.waypoints;
					if(currentWaypoints) {
						for(var idx in currentWaypoints) {
							var wpLat = currentWaypoints[idx].location.location? currentWaypoints[idx].location.location.lat() : currentWaypoints[idx].location.lat();
							var wpLng = currentWaypoints[idx].location.location? currentWaypoints[idx].location.location.lng() : currentWaypoints[idx].location.lng();
							waypoints.push({location: new google.maps.LatLng(wpLat, wpLng), stopover: false})
						}
					}
				}

				window.carpoolApp.directionsService.route({
					origin: window.carpoolApp.routeStartMarker.getPosition(), 
					destination: window.carpoolApp.routeEndMarker.getPosition(), 
					travelMode: 'DRIVING', 
					optimizeWaypoints: true,
					waypoints: waypoints
				}, function(directionsResult, status) {
					if(status === 'OK') {
						window.carpoolApp.directionsDisplay.setDirections(directionsResult);
					} else {
						console.log("Error routing: " + status);
					}
				});
			}			
		}
		
		PubSub.subscribe("global.mainRoute.changed", function() {
			var directions = window.carpoolApp.directionsDisplay.getDirections();

			var startPosition;
			if(directions.request.origin.location) {
				startPosition = {lat: directions.request.origin.location.lat(), lng: directions.request.origin.location.lng()};
			} else {
				startPosition = {lat: directions.request.origin.lat(), lng: directions.request.origin.lng()};
			}
			window.carpoolApp.routeStartMarker.setPosition(startPosition);
			var endPosition;
			if(directions.request.destination.location) {
				endPosition = {lat: directions.request.destination.location.lat(), lng: directions.request.destination.location.lng()};
			} else {
				endPosition = {lat: directions.request.destination.lat(), lng: directions.request.destination.lng()};
			}			
			window.carpoolApp.routeEndMarker.setPosition(endPosition);
			
			liftOfferUpdateForm("From", startPosition.lat, startPosition.lng, null);
			liftOfferUpdateForm("To", endPosition.lat, endPosition.lng, null);
			
			$("#liftOfferInterimWaypointsContainer").html("");
			var waypoints = window.carpoolApp.directionsDisplay.getDirections().request.waypoints;
			if(waypoints) {
				var waypointsData = [];
				for(var idx in waypoints) {
					var wpLat = waypoints[idx].location.location? waypoints[idx].location.location.lat() : waypoints[idx].location.lat();
					var wpLng = waypoints[idx].location.location? waypoints[idx].location.location.lng() : waypoints[idx].location.lng();					
					waypointsData.push({lat: wpLat, lng: wpLng, index: idx});
				}
				
				$("#liftOfferInterimWaypointsContainer").append($.templates("#liftOfferInterimWaypointsTemplate").render({waypoints: waypointsData}));
				
				for(var wpdIndex in waypointsData) {
					(function(wpdIndex) {
						geocode({lat: waypointsData[wpdIndex].lat, lng: waypointsData[wpdIndex].lng}, function(address) {
							$("#liftOfferInterimWaypointAddress_" + wpdIndex).val(address);
						});
					})(wpdIndex);
				}
			}
		});
		
		function deleteAllWaypoints() {
			if(window.carpoolApp.directionsDisplay.getDirections() && window.carpoolApp.directionsDisplay.getDirections().request 
					&& window.carpoolApp.directionsDisplay.getDirections().request.waypoints && window.carpoolApp.directionsDisplay.getDirections().request.waypoints.length > 0) {
				window.carpoolApp.directionsDisplay.getDirections().request.waypoints = [];
				replotMainRoute();
			}
		}
		
		function deleteWaypoint(waypointIndex) {
			if(window.carpoolApp.directionsDisplay.getDirections() && window.carpoolApp.directionsDisplay.getDirections().request 
					&& window.carpoolApp.directionsDisplay.getDirections().request.waypoints && window.carpoolApp.directionsDisplay.getDirections().request.waypoints.length > waypointIndex) {
				window.carpoolApp.directionsDisplay.getDirections().request.waypoints.splice(waypointIndex, 1);
				replotMainRoute();
			}
		}
		
		function doOfferLift() {
			var now = new Date();
			var startH = now.getHours();
			var startM = now.getMinutes();
			var endH = (startH + 1 ) % 24;
			var endM = startM;
			var hourOptions = [];
			for(var i=0;i<24;i++) { hourOptions.push({value: i, text: (i<10? '0' + i : '' + i), startSelected: i == startH, endSelected: i == endH }); }
			var minuteOptions = [];
			for(var i=0;i<60;i++) { minuteOptions.push({value: i, text: (i<10? '0' + i : '' + i), startSelected: i == startM, endSelected: i == endM }); }
			
			var interimWaypoints = [];
			$(".interimWaypointData.dataAddress").each(function (index, el) {
				interimWaypoints[index] = { address: el.value, userSpecified: true };
			});
			$(".interimWaypointData.dataLat").each(function (index, el) {
				interimWaypoints[index].lat = el.value;		
			});
			$(".interimWaypointData.dataLng").each(function (index, el) {
				interimWaypoints[index].lon = el.value		
			});
			
			var data = {
				start: {
					lat: $("#offerLiftFrom_lat").val(),
					lon: $("#offerLiftFrom_lng").val(),
					address: $("#offerLiftFrom_address").val()
				},
				end: {
					lat: $("#offerLiftTo_lat").val(),
					lon: $("#offerLiftTo_lng").val(),
					address: $("#offerLiftTo_address").val()
				},
				interimWaypoints: interimWaypoints,
				hourOptions: hourOptions,
				minuteOptions: minuteOptions
			}
			
			$.get(window.carpoolApp.siteBaseUrl + "/api/vehicles", {}, function(vehicles) {
				window.carpoolApp.vehicles = vehicles;
				data.vehicles = vehicles;
				showConfirmation($.templates("#liftOfferFormTemplate").render(data), 'label.cancel', 'label.create', function(event) {
					var selectedStartH = parseInt($("#liftOfferStartTimeH").val());
					var selectedStartM = parseInt($("#liftOfferStartTimeM").val());
					var selectedEndH = parseInt($("#liftOfferEndTimeH").val());
					var selectedEndM = parseInt($("#liftOfferEndTimeM").val());
					
					var title = data.start.address + " - " + data.end.address;

					if(selectedStartH > selectedEndH || selectedStartH == selectedEndH && selectedStartM > selectedEndM) {
						showPopup(window.carpoolApp.l10n['error.start_time_after_end_time']);
						event.stopPropagation();
					} else {		
						var startDate = new Date();
						startDate.setHours(selectedStartH);
						startDate.setMinutes(selectedStartM);
						var endDate = new Date();
						endDate.setHours(selectedEndH);
						endDate.setMinutes(selectedEndM);
						
						var overviewPolyline = window.carpoolApp.directionsDisplay.getDirections().routes[0].overview_polyline;
						if(carpoolApp.directionsDisplay.getDirections().routes[0].overview_path) {
							var overviewPath = window.carpoolApp.directionsDisplay.getDirections().routes[0].overview_path;
							for(var wpIdx in overviewPath) {
								interimWaypoints.push({
									lat: overviewPath[wpIdx].lat(),
									lon: overviewPath[wpIdx].lng(),
									userSpecified: false
								});
							}
						}
						
						var liftOfferDto = {
								timeValidFrom : date2unixts(startDate),
								timeValidTo :  date2unixts(endDate),
								vehicleId : $("#liftOfferVehicle").val(),
								vacantSeats: $("#liftOfferVacantSeats").val(),
								notes: $("#liftOfferNotes").val(),
								route : {
									title: title,
									favoured: false,
									startLat: data.start.lat, 
									startLon: data.start.lon,
									endLat: data.end.lat,
									endLon: data.end.lon,
									waypoints: interimWaypoints,
									overviewPolyline: overviewPolyline
								}
							};
						
						makeApiCall("/api/liftOffer", 'POST', liftOfferDto, function(result) {
							showPopup(window.carpoolApp.l10n['label.liftoffer.createsuccess']);
							var maxIndex = 0;
							for(var idx in window.carpoolApp.liftOffers) {
								var liftOffer = window.carpoolApp.liftOffers[idx];
								if(liftOffer.indexInList > maxIndex) {
									maxIndex = liftOffer.indexInList;
								}
							}
							
							result.data.indexInList = maxIndex + 1;
							addLiftOfferToList(result.data);
							deleteAllWaypoints();
						});
					}
				});
			}).fail(function(xhr) {
				$("#profilePageCarListLoadingIndicator").html(exclamationSign + " " + (xhr.responseJSON ? xhr.responseJSON.message : (xhr.statusText + " " + xhr.status)));
			});
		}
		
		function populateMyLiftOffers() {
			if(window.carpoolApp.liftOffers) {
				var liftOfferIds = Object.keys(window.carpoolApp.liftOffers);
				for(var idx in liftOfferIds) {
					removeLiftOfferFromList(liftOfferIds[idx]);
				}
			}			
			window.carpoolApp.liftOffers = {};
			$("#myLiftOffersContainer").html('<div class="u-full-width" style="text-align: center"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></div>');
			makeApiCall("/api/liftOffer/own?actualOnly=true", 'GET', null, function(liftOffers) {
				$("#myLiftOffersContainer").html('');
				
				for(var idx in liftOffers) {
					var liftOffer = liftOffers[idx];
					liftOffer.indexInList = parseInt(idx) + 1;
					addLiftOfferToList(liftOffer);
				}
				$(".liftOfferListItemShowCheckbox").click();
				
			}, function(xhr, status, error) { 
				$("#myLiftOffersContainer").html(xhr.responseJSON? (exclamationSign + " " + xhr.responseJSON.message) : (exclamationSign + " " + xhr.statusText + " " + xhr.status)); 
			});
		}
		
		function removeLiftOfferFromList(liftOfferId) {
			if(window.carpoolApp.liftOffers[liftOfferId]) {
				showHideLiftOfferOnMap(false, liftOfferId);
				$("#liftOfferList_" + liftOfferId).remove();
				delete window.carpoolApp.liftOffers[liftOfferId];
			}
		}
		
		function deleteLiftOffer(liftOfferId) {
			showConfirmation(window.carpoolApp.l10n['label.confirm_delete_lift_offer'], 'label.no', 'label.yes', function () {				
				formSubmitBtnSetState("btnDeleteLiftOffer_" + liftOfferId, true, true);
				makeApiCall("/api/liftOffer/" + liftOfferId, 'DELETE', null, function() {
					removeLiftOfferFromList(liftOfferId);
				}, null, function() {
					formSubmitBtnSetState("btnDeleteLiftOffer_" + liftOfferId, false, false);
				});
			});
		}
		
		function showHideLiftOfferOnMap(show, liftOfferId, suppressCentering) {
			if(window.carpoolApp.liftOffers[liftOfferId]) {
				var liftOffer = window.carpoolApp.liftOffers[liftOfferId];
				liftOffer.overviewPolyline.setMap(show? window.carpoolApp.mainMap : null);
				for(var idx in liftOffer.markers) {
					liftOffer.markers[idx].setMap(show? window.carpoolApp.mainMap : null);
				}
				if(show && !suppressCentering) {
					var bounds = new google.maps.LatLngBounds();
					for (var idx in liftOffer.routePathOverviewDecoded) {
						bounds.extend(liftOffer.routePathOverviewDecoded[idx]);
					}
					window.carpoolApp.mainMap.fitBounds(bounds);
				}
			}
		}
		
		function addLiftOfferToList(liftOffer) {
			if(liftOffer && liftOffer.route && liftOffer.route.overviewPolyline) {
				window.carpoolApp.liftOffers[liftOffer.id] = liftOffer;
				var userWaypoints = [];
				for(var wpIdx in liftOffer.route.waypoints) {
					if(liftOffer.route.waypoints[wpIdx].userSpecified) {
						userWaypoints.push({ location: new google.maps.LatLng(liftOffer.route.waypoints[wpIdx].lat, liftOffer.route.waypoints[wpIdx].lon), stopover: false });
					}
				}
				
				var viewColor = uniqueColor(parseInt(liftOffer.indexInList - 1), 100, 40);
				liftOffer.color = viewColor;
				liftOffer.validFrom = fmtDateShortest(unixts2date(liftOffer.timeValidFrom));
				liftOffer.validTo = fmtDateShortest(unixts2date(liftOffer.timeValidTo));
				
				var vehicle;
				for(var idx in window.carpoolApp.vehicles) {
					var vehicleCandidate = window.carpoolApp.vehicles[idx];
					if(vehicleCandidate.id == liftOffer.vehicleId) {
						vehicle = vehicleCandidate;
					}
				}
				liftOffer.vehicle = vehicle;
				
				liftOffer.routePathOverviewDecoded = google.maps.geometry.encoding.decodePath(liftOffer.route.overviewPolyline);
				liftOffer.overviewPolyline = new google.maps.Polyline({
				    map: window.carpoolApp.uiMode === 'offerLift' ? window.carpoolApp.mainMap : null,
					clickable: false,
				    path: liftOffer.routePathOverviewDecoded,
				    strokeColor: viewColor,
				    strokeOpacity: 0.5
				});
				
				liftOffer.markers = [];
				var markerWaypoints = [
						{ location: new google.maps.LatLng(liftOffer.route.startLat, liftOffer.route.startLon) },
						{ location: new google.maps.LatLng(liftOffer.route.endLat, liftOffer.route.endLon) }
					];
				markerWaypoints = markerWaypoints.concat(userWaypoints);
				
				for(var wpIdx in markerWaypoints) {
					var wp = markerWaypoints[wpIdx];
					liftOffer.markers.push(new google.maps.Marker({ 
						position: wp.location, 
						map: window.carpoolApp.uiMode === 'offerLift' ? window.carpoolApp.mainMap : null,
						draggable: false,
						clickable: false,
						icon: {
							path: google.maps.SymbolPath.CIRCLE,
							scale: 4,
							fillColor: viewColor,
							strokeColor: "black",
							fillOpacity: 0.5,
							strokeWeight: 0
						}
					}));
				}
				
				$("#myLiftOffersContainer").append($.templates("#liftOfferListItemTemplate").render(liftOffer));
			}
		}
	</script>
	<script th:src="'https://maps.googleapis.com/maps/api/js?libraries=places,geometry&callback=onGoogleMapsLoad&language=' + ${#locale.getLanguage()}"></script>
</head>
<body id="page_main">
	<div class="container">
		<div th:replace="fragments/common_heading :: commonHeading"></div>
		<div class="row">
			<div class="eight columns">
				<button class="u-full-width" onclick="centerMapOnCurrentLocation()" th:text="#{label.center_on_my_location}"></button>
				<input class="u-full-width" type="text" id="placeSearchInput" />
				<div id="mapContainer"></div>
			</div>
			<div class="four columns">
				<div class="u-full-width">
					<input type="button" style="width: 46%" th:value="#{ btn.mode.request }" id="uiModeButton_requestLift" class="ui-mode-button button-primary" onclick="setUiMode('requestLift')" disabled="disabled" />
					<input type="button" style="width: 46%" th:value="#{ btn.mode.offer }" id="uiModeButton_offerLift" class="ui-mode-button u-pull-right" onclick="setUiMode('offerLift')" />
				</div>
				<div id="uiContainer_requestLift" class="ui-container">
					<h5>
						[[ #{label.chosen_location} ]]
						<i class="fa fa-caret-down" aria-hidden="true" id="requestLiftForm_hider" onclick="toggleCollapse('requestLiftForm')"></i>
						<i class="fa fa-caret-left" aria-hidden="true" style="display: none" id="requestLiftForm_revealer" onclick="toggleCollapse('requestLiftForm')"></i>				
					</h5>
					<script id="liftRequestFormTemplate" type="text/x-jsrender">
						<div class="row"><h5>[[ #{label.lift_request} ]]</h5></div>
						<div class="row"><div class="twelve columns"><b>[[ #{label.coordinates} ]]</b>: {{>lat}}&nbsp;:&nbsp;{{>lng}}</div></div>
						<div class="row"><div class="twelve columns"><b>[[ #{label.address} ]]</b>: {{>address}}</div></div>
						<div class="row"><div class="twelve columns"><b>[[ #{label.validity_time} ]]</b></div></div>
						<div class="row"><div class="six columns">[[ #{label.from_hm} ]]</div><div class="six columns">[[ #{label.to_hm} ]]</div></div>
						<div class="row">
						<div class="three columns"><select class="u-full-width" id="liftRequestStartTimeH">
						{{for hourOptions}}
							<option value="{{>value}}" {{if startSelected}}selected="selected"{{/if}}>{{>text}}</option>
						{{/for}}
						</select></div>
						<div class="three columns"><select class="u-full-width" id="liftRequestStartTimeM">
						{{for minuteOptions}}
							<option value="{{>value}}" {{if startSelected}}selected="selected"{{/if}}>{{>text}}</option>
						{{/for}}
						</select></div>
						<div class="three columns"><select class="u-full-width" id="liftRequestEndTimeH">
						{{for hourOptions}}
							<option value="{{>value}}" {{if endSelected}}selected="selected"{{/if}}>{{>text}}</option>
						{{/for}}
						</select></div>
						<div class="three columns"><select class="u-full-width" id="liftRequestEndTimeM">
						{{for minuteOptions}}
							<option value="{{>value}}" {{if endSelected}}selected="selected"{{/if}}>{{>text}}</option>
						{{/for}}
						</select></div>
						</div>
						<div class="row"><div class="twelve columns"><b>[[ #{label.notes} ]]</b></div></div>
						<div class="row"><div class="twelve columns"><input class="u-full-width" type="text" id="liftRequestNotes" value="" /></div></div>
					</script>
					<script id="liftOfferFormTemplate" type="text/x-jsrender">
						<div class="row"><div class="twelve columns"><h5>[[ #{label.lift_offer} ]]</h5></div></div>
						<div class="row"><div class="twelve columns"><b>[[ #{label.lift_offer.start} ]]</b></div></div>
						<div class="row"><div class="twelve columns"><b>[[ #{label.coordinates} ]]</b>: {{>start.lat}}&nbsp;:&nbsp;{{>start.lon}}</div></div>
						<div class="row"><div class="twelve columns"><b>[[ #{label.address} ]]</b>: {{>start.address}}</div></div>
						<div class="row">&nbsp;</div>
						<div class="row"><div class="twelve columns"><b>[[ #{label.lift_offer.end} ]]</b></div></div>						
						<div class="row"><div class="twelve columns"><b>[[ #{label.coordinates} ]]</b>: {{>end.lat}}&nbsp;:&nbsp;{{>end.lon}}</div></div>
						<div class="row"><div class="twelve columns"><b>[[ #{label.address} ]]</b>: {{>end.address}}</div></div>
						{{if interimWaypoints && interimWaypoints.length > 0}}
							<div class="row">&nbsp;</div>
							<div class="row"><div class="twelve columns"><b>[[ #{label.interim_waypoints} ]]</b></div></div>
							{{for interimWaypoints}}
								<div class="row"><div class="twelve columns"><b>[[ #{label.coordinates} ]]</b>: {{>lat}}&nbsp;:&nbsp;{{>lon}}</div></div>
								<div class="row"><div class="twelve columns"><b>[[ #{label.address} ]]</b>: {{>address}}</div></div>
							{{/for}}
						{{/if}}
						<div class="row">&nbsp;</div>
						<div class="row"><div class="twelve columns"><b>[[ #{label.validity_time} ]]</b></div></div>
						<div class="row"><div class="six columns">[[ #{label.from_hm} ]]</div><div class="six columns">[[ #{label.to_hm} ]]</div></div>
						<div class="row">
						<div class="three columns"><select class="u-full-width" id="liftOfferStartTimeH">
						{{for hourOptions}}
							<option value="{{>value}}" {{if startSelected}}selected="selected"{{/if}}>{{>text}}</option>
						{{/for}}
						</select></div>
						<div class="three columns"><select class="u-full-width" id="liftOfferStartTimeM">
						{{for minuteOptions}}
							<option value="{{>value}}" {{if startSelected}}selected="selected"{{/if}}>{{>text}}</option>
						{{/for}}
						</select></div>
						<div class="three columns"><select class="u-full-width" id="liftOfferEndTimeH">
						{{for hourOptions}}
							<option value="{{>value}}" {{if endSelected}}selected="selected"{{/if}}>{{>text}}</option>
						{{/for}}
						</select></div>
						<div class="three columns"><select class="u-full-width" id="liftOfferEndTimeM">
						{{for minuteOptions}}
							<option value="{{>value}}" {{if endSelected}}selected="selected"{{/if}}>{{>text}}</option>
						{{/for}}
						</select></div>
						</div>
						<div class="row">&nbsp;</div>
						<div class="row"><div class="twelve columns"><b>[[ #{label.choose_vehicle} ]]</b></div></div>
						<div class="row">
							<div class="twelve columns">
								<select class="u-full-width" id="liftOfferVehicle" onchange="$('#liftOfferVacantSeats').val($('#liftOfferVehicle option:selected').attr('data_seats'))">
									{{for vehicles}} <option value="{{>id}}" data_seats="{{>passengerSeats}}">{{>plateNumber}} {{>name}}</option> {{/for}}
								</select>
							</div>
						</div>
						<div class="row">
							<div class="twelve columns">
								<label for="liftOfferVacantSeats">[[ #{label.vehicle.vacant_seats} ]]</label>
								<input class="u-full-width" type="text" id="liftOfferVacantSeats" value="4" onkeyup="fixNumericInput(this)"  />
							</div>
						</div>
						<div class="row"><div class="twelve columns"><b>[[ #{label.notes} ]]</b></div></div>
						<div class="row"><div class="twelve columns"><input class="u-full-width" type="text" id="liftOfferNotes" value="" /></div></div>
					</script>
					<div id="requestLiftForm" style="display: block" class="u-full-width">
						<label class="u-full-width" th:text="#{label.coordinates}"></label>
						<input readonly="readonly" id="requestLiftForm_placeId" style="display: none" type="text" />
						<input readonly="readonly" id="requestLiftForm_lat" style="width: 46%" type="text" />
						<input readonly="readonly" id="requestLiftForm_lng" style="width: 46%" type="text" class="u-pull-right" />
						<label class="u-full-width" th:text="#{label.address}"></label>
						<input readonly="readonly" id="requestLiftForm_address" class="u-full-width" type="text" />
						<button class="u-full-width" onclick="doRequestLift()" id="requestLiftButton" disabled="disabled" th:text="#{label.request_lift}"></button>
					</div>
					<hr/>
					<h5>
						[[ #{label.my_lift_requests} ]]
						<i class="fa fa-caret-down" aria-hidden="true" id="myLiftRequestsContainer_hider" onclick="toggleCollapse('myLiftRequestsContainer')"></i>
						<i class="fa fa-caret-left" aria-hidden="true" style="display: none" id="myLiftRequestsContainer_revealer" onclick="toggleCollapse('myLiftRequestsContainer')"></i>				
					</h5>
					<script type="text/x-jsrender" id="liftRequestListRowTemplate">
						<div class="u-full-width" id="liftRequestsList_{{>id}}">
							<div class="u-full-width">
								<div style="display: inline-block; font-weight: bold; padding: 4px; color: white; background-color: {{>color}}">#{{>indexInList}}</div>
								<input type="checkbox" class="liftRequestListItemShowCheckbox" id="liftRequestListItem_showCheckbox{{>id}}" onclick="showHideLiftRequestOnMap(this.checked, {{>id}}, {{>lat}}, {{>lon}}, '{{>color}}', '{{>placeId}}')" />&nbsp;[[ #{label.show_on_map} ]]
								<span style="color: {{>color}}; display: inline-block"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
								<div style="display: inline-block" class="u-pull-right">
									<button id="btnDeleteLiftRequest_{{>id}}" class="narrow" onclick="deleteLiftRequest({{>id}})">X <i class="waitIndicator fa fa-circle-o-notch fa-spin fa-fw"></i></button>
								</div>
							</div>
							<div>{{>address}}</div>
							<div>{{>validFrom}}&nbsp;-&nbsp;{{>validTo}}</div>
							<div>{{>notes}}</div>
							<hr class="halfWidth" />			
						</div>
					</script>
					<div id="myLiftRequestsContainer" class="u-full-width">
						<div class="u-full-width" style="text-align: center"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></div>
					</div>
					<hr/>
					<div>
						TODO: lift offers here
					</div>
				</div>
				<div id="uiContainer_offerLift" class="ui-container" style="display: none">
					<h5>
						[[ #{label.chose_route} ]]
						<i class="fa fa-caret-down" aria-hidden="true" id="liftOfferRouteFormContainer_hider" onclick="toggleCollapse('liftOfferRouteFormContainer')"></i>
						<i class="fa fa-caret-left" aria-hidden="true" style="display: none" id="liftOfferRouteFormContainer_revealer" onclick="toggleCollapse('liftOfferRouteFormContainer')"></i>				
					</h5>
					<div id="liftOfferRouteFormContainer">				
						<div class="u-full-width">
							<button onclick="liftOfferSetRoutePoint(true)"><i class="fa fa-map-marker" aria-hidden="true" style="color: green"></i></button>
							<label th:text="#{label.lift_offer.start}"></label>
						</div>
						<div class="u-full-width">
							<input readonly="readonly" id="offerLiftFrom_placeId" style="display: none" type="text" />
							<input readonly="readonly" id="offerLiftFrom_lat" style="width: 46%" type="text" />
							<input readonly="readonly" id="offerLiftFrom_lng" style="width: 46%" type="text" class="u-pull-right" />
							<input readonly="readonly" id="offerLiftFrom_address" class="u-full-width" type="text" />
						</div>
						<div class="u-full-width">
							<button onclick="liftOfferSetRoutePoint(false)"><i class="fa fa-map-marker" aria-hidden="true" style="color: red"></i></button>
							<label th:text="#{label.lift_offer.end}"></label>
						</div>
						<div class="u-full-width">
							<input readonly="readonly" id="offerLiftTo_placeId" style="display: none" type="text" />
							<input readonly="readonly" id="offerLiftTo_lat" style="width: 46%" type="text" />
							<input readonly="readonly" id="offerLiftTo_lng" style="width: 46%" type="text" class="u-pull-right" />
							<input readonly="readonly" id="offerLiftTo_address" class="u-full-width" type="text" />
						</div>
						<script type="text/x-jsrender" id="liftOfferInterimWaypointsTemplate">
							{{if waypoints.length > 0}}
								<h6>
									[[ #{label.interim_waypoints} ]]
									<i class="fa fa-caret-down" aria-hidden="true" id="liftOfferInterimWaypointsListContainer_hider" onclick="toggleCollapse('liftOfferInterimWaypointsListContainer')"></i>
									<i class="fa fa-caret-left" aria-hidden="true" id="liftOfferInterimWaypointsListContainer_revealer" onclick="toggleCollapse('liftOfferInterimWaypointsListContainer')" style="display: none"></i>
								</h6>				
							{{/if}}
							<div id="liftOfferInterimWaypointsListContainer">
							{{for waypoints}}
								<div class="u-full-width">
									<input readonly="readonly" value="{{>lat}}" id="liftOfferInterimWaypointLat_{{>index}}" style="width: 46%" type="text" class="interimWaypointData dataLat" />
									<input readonly="readonly" value="{{>lng}}" id="liftOfferInterimWaypointLng_{{>index}}" style="width: 46%" type="text" class="interimWaypointData dataLng u-pull-right" />
									<div class="u-full-width">
										<button class="narrow u-pull-left" onclick="deleteWaypoint({{>index}})">X</button>
										<input class="u-pull-right interimWaypointData dataAddress" readonly="readonly" id="liftOfferInterimWaypointAddress_{{>index}}" type="text" style="width: 80%" />
									</div>
								</div>
							{{/for}}
							</div>
						</script>
						<div id="liftOfferInterimWaypointsContainer">
						</div>
						<button class="u-full-width" id="btnCreateLiftOffer" onclick="doOfferLift()" disabled="disabled">[[ #{label.offer_lift} ]]</button>
					</div>
					<h5>
						[[ #{label.my_lift_offers} ]]
						<i class="fa fa-caret-down" aria-hidden="true" id="myLiftOffersContainer_hider" onclick="toggleCollapse('myLiftOffersContainer')"></i>
						<i class="fa fa-caret-left" aria-hidden="true" style="display: none" id="myLiftOffersContainer_revealer" onclick="toggleCollapse('myLiftOffersContainer')"></i>				
					</h5>
					<script id="liftOfferListItemTemplate" type="text/x-jsrender">
						<div class="u-full-width" id="liftOfferList_{{>id}}">
							<div class="u-full-width">
								<div style="display: inline-block; font-weight: bold; padding: 4px; color: white; background-color: {{>color}}">#{{>indexInList}}</div>
								<input type="checkbox" class="liftOffertListItemShowCheckbox" id="liftOfferListItem_showCheckbox{{>id}}" checked="checked" onclick="showHideLiftOfferOnMap(this.checked, {{>id}})" />&nbsp;[[ #{label.show_on_map} ]]
								<span style="color: {{>color}}; display: inline-block"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
								<div style="display: inline-block" class="u-pull-right">
									<button id="btnDeleteLiftOffer_{{>id}}" class="narrow" onclick="deleteLiftOffer({{>id}})">X <i class="waitIndicator fa fa-circle-o-notch fa-spin fa-fw"></i></button>
								</div>
							</div>
							<div class="u-full-width">{{>route.title}}</div>
							<div class="u-full-width">{{>validFrom}}&nbsp;-&nbsp;{{>validTo}}</div>
							<div class="u-full-width">{{>notes}}</div>
							<div class="u-full-width">{{>vehicle.plateNumber}} {{>vehicle.name}}</div>
							<hr class="halfWidth" />			
						</div>
					</script>
					<div id="myLiftOffersContainer">
						<div class="u-full-width">
							TODO: Implement
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
