<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: sharedHeadContent">
</head>
<body>
	<div class="container">
		<div th:replace="fragments/common_heading :: commonHeading"></div>
		<div th:if="${requestValid}">
			<div class="row">
				<div class="twelve columns">
					<div th:if="${registerAction}">[[ #{label.complete_registration(${user.emailAddress})} ]]</div>
					<div th:if="${!registerAction}">[[ #{label.set_password(${user.emailAddress})} ]]</div>
					<input type="hidden" id="resetPwdEmail" name="email" th:value="${user.emailAddress}" />
					<input type="hidden" id="resetPwdConfirmationId" th:name="${confirmationIdParamName}" th:value="${confirmationId}" />
				</div>
			</div>
			<div th:if="${registerAction}" class="row">
				<div class="eight columns">
					<label for="resetPwdFullName">[[ #{label.fullName} ]]</label>
					&nbsp;
					<span id="resetPwdFullName_validation" class="validationMessage"></span>
					<input class="u-full-width" type="text" name="fullName" th:value="${user.fullName}" id="resetPwdFullName" onkeyup="validateField(this.id, [validateNotEmpty], ['newPasswordForm'])" />
				</div>
			</div>
			<script type="text/javascript">
				function validatePasswordFields() {
					validateField('resetPwdPassword', [validateNotEmpty], ['newPasswordForm']);
					validateField('resetPwdPasswordConfirmation', [validateNotEmpty, fnValidateMatches('resetPwdPassword', 'error.password.nomatch')], ['newPasswordForm'])
				}
			</script>
			<div class="row">
				<div class="four columns">
					<label for="resetPwdPassword">[[ #{label.password} ]]</label>
					&nbsp;
					<span id="resetPwdPassword_validation" class="validationMessage"></span>
					<input class="u-full-width" type="password" name="password" id="resetPwdPassword" onkeyup="validatePasswordFields()" />
				</div>
				<div class="four columns">
					<label for="resetPwdPasswordConfirmation">[[ #{label.confirm_password} ]]</label>
					&nbsp;
					<span id="resetPwdPasswordConfirmation_validation" class="validationMessage"></span>
					<input class="u-full-width" type="password" name="passwordConfirmation" id="resetPwdPasswordConfirmation" onkeyup="validatePasswordFields()" />
				</div>
				<div class="four columns">
					<label>&nbsp;</label>
					<button class="u-full-width button-primary" onclick="doSetNewPassword()" id="newPasswordForm_submit">
						<span th:text="#{label.submit}"></span> <i class="waitIndicator fa fa-circle-o-notch fa-spin fa-fw"></i>
					</button>
				</div>
			</div>
		</div>
		<div th:if="${!requestValid}">
			<div th:if="${registerAction}" class="row">[[ #{error.invalid_token.registration} ]]</div>
			<div th:if="${!registerAction}" class="row">[[ #{error.invalid_token.password_reset} ]]</div>
		</div>
	</div>
</body>
</html>
