<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: sharedHeadContent">
</head>
<body>
	<div class="container">
		<div th:replace="fragments/common_heading :: commonHeading"></div>
		<div class="row">
			<div class="twelve columns">
				<h5>[[ #{ label.section.profile(${currentUser.emailAddress}) } ]]</h5>
			</div>
		</div>
		<div class="row">
			<div class="four columns">
				<label for="profileFullName">[[ #{label.fullName} ]]</label>
				<input class="u-full-width" type="text" name="fullName" th:value="${currentUser.fullName}" id="profileFullName" onkeyup="validateField(this.id, [validateNotEmpty], ['profileUpdateForm'])" />
			</div>
			<div class="four columns">
				<label>&nbsp;</label>
				<button class="u-full-width button-primary" onclick="doUpdateProfile()" id="profileUpdateForm_submit">
					<span th:text="#{label.save}"></span> <i class="waitIndicator fa fa-circle-o-notch fa-spin fa-fw"></i>
				</button>
			</div>			
			<div class="four columns">
				<label>&nbsp;</label>
				<button class="u-full-width button-primary" onclick="doResetPassword()" id="resetPasswordForm_submit">
					<span th:text="#{label.reset_password}"></span> <i class="waitIndicator fa fa-circle-o-notch fa-spin fa-fw"></i>
				</button>
			</div>
		</div>
		<div class="row">
			<div class="four columns">
				<span id="profileFullName_validation" class="validationMessage"></span>&nbsp;
			</div>
			<div class="eight columns">&nbsp;</div>
		</div>
		<div class="row">
			<div class="twelve columns">
				<h6>[[ #{ label.section.my_vehicles } ]]</h6>
			</div>
		</div>
		<div class="row">
			<div class="twelve columns">
				<script type="text/x-jsrender" id="vehicleRowTempalte">
					<tr id="vehicleRow_{{:id}}">
						<td><input id="vehicle_name_{{:id}}" type="text" value="{{:name}}" size="20" /></td>
						<td><input id="vehicle_plate_{{:id}}" type="text" value="{{:plateNumber}}" size="10" /></td>
						<td><input id="vehicle_seats_{{:id}}" type="text" value="{{:passengerSeats}}" size="4" onkeyup="fixNumericInput(this)" /></td>
						<td><input id="vehicle_desc_{{:id}}" type="text" value="{{:description}}" /></td>
						<td>
							<button name="update" class="button-primary btnUpdateVehicle" id="btn_update_vehicle_{{:id}}" onclick="updateVehicle({{:id}})">
								<span th:text="#{label.save}"></span> <i class="waitIndicator fa fa-circle-o-notch fa-spin fa-fw"></i>
							</button>
						</td>
						<td>
							<button name="update" class="button-primary btnDeleteVehicle" id="btn_delete_vehicle_{{:id}}" onclick="deleteVehicle({{:id}})">
								<span th:text="X"></span> <i class="waitIndicator fa fa-circle-o-notch fa-spin fa-fw"></i>
							</button>
						</td>
					</tr>
				</script>
				<script type="text/javascript">				
					function deleteVehicle(id) {
						showConfirmation(window.carpoolApp.l10n['label.confirm_delete_vehicle'].replace('{0}', $("#vehicle_name_"+id).val()), 'label.no', 'label.yes', function (){
							formSubmitBtnSetState("btn_delete_vehicle_"+id, true, true);
							makeApiCall("/api/vehicles/"+id, 'DELETE', null, function() {
								$("#vehicleRow_"+id).remove();
							});
						}, null, function() {
							formSubmitBtnSetState("btn_delete_vehicle_"+id, false, false);
						});
					}
					
					function updateVehicle(id) {
						var data = {
							id: id,
							name: $("#vehicle_name_"+id).val(),
							plateNumber: $("#vehicle_plate_"+id).val(),
							passengerSeats: parseInt($("#vehicle_seats_"+id).val()),
							description: $("#vehicle_desc_"+id).val(),
						};
						
						formSubmitBtnSetState("btn_update_vehicle_"+id, true, true);
						makeApiCall("/api/vehicles", 'POST', data, null, null, function() {
							formSubmitBtnSetState("btn_update_vehicle_"+id, false, false);
						});
					}
					
					function doAddVehicle() {
						var data = {
								id: 0,
								name: $("#newVehicleName").val(),
								plateNumber: $("#newVehiclePlate").val(),
								passengerSeats: parseInt($("#newVehicleSeats").val()),
								description: $("#newVehicleDescripton").val(),
							};
						
						formSubmitBtnSetState("btnAddVehicle", true, true);						
						makeApiCall("/api/vehicles", 'PUT', data, function(vehicleDto) {
							$("#profilePageCarList tbody").append($.templates("#vehicleRowTempalte").render(vehicleDto));
						}, null, function() {
							formSubmitBtnSetState("btnAddVehicle", false, false);
						});
					}
				
					$(document).ready(function () {
						$.get(window.carpoolApp.siteBaseUrl + "/api/vehicles", {}, function(vehicles) {
							$("#profilePageCarList tbody").html("");
							for(var vehicleIdx in vehicles) {
								$("#profilePageCarList tbody").append($.templates("#vehicleRowTempalte").render(vehicles[vehicleIdx]));						
							}
						}).fail(function(xhr) {
							$("#profilePageCarListLoadingIndicator").html(exclamationSign + " " + xhr.responseJSON.message);
						});
					});
				</script>
				<table id="profilePageCarList" class="carListTable u-full-width">
					<thead>
						<tr>
							<td>[[ #{label.vehicle.name } ]]</td>
							<td>[[ #{label.vehicle.plate } ]]</td>
							<td>[[ #{label.vehicle.seats } ]]</td>
							<td>[[ #{label.vehicle.description } ]]</td>
							<td></td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="5" style="text-align: center" id="profilePageCarListLoadingIndicator">
								<i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="twelve columns">
				<h6>[[ #{ label.add_vehicle } ]]</h6>
			</div>
		</div>
		<div class="row">
			<div class="six columns">
				<label for="newVehicleName">[[ #{label.vehicle.name} ]]</label>
				<input class="u-full-width" type="text" id="newVehicleName" value="" />
			</div>
			<div class="three columns">
				<label for="newVehiclePlate">[[ #{label.vehicle.plate} ]]</label>
				<input class="u-full-width" type="text" id="newVehiclePlate" value="" />
			</div>
			<div class="three columns">
				<label for="newVehicleSeats">[[ #{label.vehicle.seats} ]]</label>
				<input class="u-full-width" type="text" id="newVehicleSeats" value="4" onkeyup="fixNumericInput(this)"  />
			</div>
		</div>
		<div class="row">
			<div class="twelve columns">
				<label for="newVehicleDescripton">[[ #{label.vehicle.description} ]]</label>
				<input class="u-full-width" type="text" id="newVehicleDescripton" value="" />
			</div>
		</div>
		<div class="row">
			<div class="six columns">
				<button class="u-full-width button-primary" id="btnAddVehicle" onclick="doAddVehicle()">
					<span th:text="#{label.add_vehicle}"></span> <i class="waitIndicator fa fa-circle-o-notch fa-spin fa-fw"></i>
				</button>
			</div>
			<div class="six columns">&nbsp;</div>
		</div>
	</div>
</body>
</html>
