<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{sitename}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script>
	function setLocale(locale, csrfToken) {
		var f = document.createElement("form");
		f.action="/locale/" + locale + "?_csrf=" + csrfToken;
		f.method="POST"
		f.submit();
	}
</script>
</head>
<body>
	<div>
		<button th:each="localevar:${locales}" th:text="#{${'locale.' + localevar}}" th:onclick="'setLocale(\'' + ${localevar} + '\',\'' + ${_csrf.token} + '\')'"></button>
	</div>
	<div>
		<h4 th:text="#{label.login}"></h4>
		<form method="post" action="/login">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<input type="text" name="username" />
			<input type="password" name="password" />
			<input type="submit" value="login" />
		</form>
	</div>
	<div>
		<h4 th:text="#{label.register}"></h4>
		<form method="post" action="/register">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<input type="text" name="email" />
			<input type="password" name="password" />
			<input type="password" name="passwordConfirmation" />
			<input type="submit" value="register" />
		</form>
	</div>
</body>
</html>
